In [14]:
import pandas as pd 
import numpy as np
from plotly import express as px
import re

In [15]:
import nltk 
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [16]:
nltk.download('stopwords')
nltk.download('punkt')
stop_words = list(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Aquaregis32\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Aquaregis32\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [17]:
stop_words.append('.')
stop_words = set(stop_words)

In [18]:
df_bigram = pd.read_csv("../NGrams/top_bigrams.csv", encoding='utf-8')
df_trigram = pd.read_csv("../NGrams/top_trigrams.csv", encoding='utf-8')
df_tetragram = pd.read_csv("../NGrams/top_tetragrams.csv", encoding='utf-8')

In [19]:
df_bigram.sort_values(by='freq', ascending=False).head()

          token  freq
2977   new york    40
5154  years ago    39
2313  last week    37
2316  last year    36
3670  right now    35

In [20]:
df_trigram.sort_values(by='freq', ascending=False).head()

                           token  freq
168   invitation paintball party    11
274         please please please     8
385              will take place     6
95   evolution mitsubishi forums     6
104             first time since     5

In [21]:
df_tetragram.sort_values(by='freq', ascending=False).head()

                          token  freq
39  please please please please     6
32          need tail need tail     4
47       rs lacs quarter ending     4
23      lacs quarter ending mar     4
61           will take place pm     3

In [89]:
string = "thing"

In [24]:
string_tokenized = word_tokenize(string)  
string_filtered = [x for x in string_tokenized if not x in stop_words]
string = " ".join(string_filtered)

In [25]:
string

'Hello name anandu R'

In [ ]:
predictWord = function(string){
    preds_ = ""
    pred = ""
    string_tokenized = word_tokenize(string)  
    string_filtered = [x for x in string_tokenized if not x in stop_words]
    string = " ".join(string_filtered)

    n_words = len(string_filtered)
    if(n_words == 3){
        matching_tetragrams = df_tetragram[df_tetragram['token'].str.contains(string, flags = re.IGNORECASE)]
        preds_ = data.frame(prediction = str_extract_all(matching_tetragrams[,1], paste0(str,"\\s([:alpha:]+)"), simplify = T),freq = matching_tetragrams[,2])  
    }
    if(is.null(dim(preds_))){
        matching_trigrams = df_tetragram[df_tetragram['token'].str.contains(string, flags = re.IGNORECASE)]
        preds_ = data.frame(prediction = str_extract_all(matching_trigrams[,1], paste0(str,"\\s([:alpha:]+)"), simplify = T),freq = matching_trigrams[,2])  
    }
    if(is.null(dim(preds_))){
        matching_bigrams = df_tetragram[df_tetragram['token'].str.contains(string, flags = re.IGNORECASE)]
        preds_ = data.frame(prediction = str_extract_all(matching_bigrams[,1], paste0(str,"\\s([:alpha:]+)"), simplify = T),freq = matching_bigrams[,2])  
    }
    pred = str_split_fixed(preds_[order(preds_[,2]),][1,1], " ", n=2)[2]
    pred
}
predictWord("achieving")

In [93]:
matching = df_bigram[df_bigram['token'].str.contains(string, flags = re.IGNORECASE)]
matching

                 token  freq
46         ’s anything     2
263      anything else     3
264      anything goes     3
265      anything like     3
266    anything really     2
...                ...   ...
4462   think something     2
4810  wanted something     2
4939       whole thing     2
5075   wonderful thing     2
5118   write something     2

[90 rows x 2 columns]

In [96]:
matching['prediction'] = matching['token'].str.extract(string+"[a-zA-Z]*\s([a-zA-Z]+)\s")
matching

<ipython-input-96-1ccb84d3b74a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matching['prediction'] = matching['token'].str.extract(string+"[a-zA-Z]*\s([a-zA-Z]+)\s")

                 token  freq prediction
46         ’s anything     2        NaN
263      anything else     3        NaN
264      anything goes     3        NaN
265      anything like     3        NaN
266    anything really     2        NaN
...                ...   ...        ...
4462   think something     2        NaN
4810  wanted something     2        NaN
4939       whole thing     2        NaN
5075   wonderful thing     2        NaN
5118   write something     2        NaN

[90 rows x 3 columns]

In [65]:
matching_tetragrams.merge(predicted_word_df,left_index = True, right_index = True).drop(columns = [1], axis=1)

ValueError: cannot join with no overlapping index names