In [1]:
import pandas as pd
import numpy as np

# Gender (Continous data)

In [ ]:
# Create an empty dataframe
data = pd.DataFrame()

# Create our target variable
data['Gender'] = ['male','male','male','male','female','female','female','female']

# Create our feature variables
data['Height'] = [6,5.92,5.58,5.92,5,5.5,5.42,5.75]
data['Weight'] = [180,190,170,165,100,150,130,150]
data['Foot_Size'] = [12,11,12,10,6,8,7,9]

# View the data
data

In [ ]:
# Create an empty dataframe
person = pd.DataFrame()

# Create some feature values for this single row
person['Height'] = [6]
person['Weight'] = [130]
person['Foot_Size'] = [8]

# View the data 
person

In [ ]:
# Number of males
n_male = data['Gender'][data['Gender'] == 'male'].count()

# Number of males
n_female = data['Gender'][data['Gender'] == 'female'].count()

# Total rows
total_ppl = data['Gender'].count()

In [ ]:
# Number of males divided by the total rows
P_male = n_male/total_ppl

# Number of females divided by the total rows
P_female = n_female/total_ppl

# Print
print(P_male, P_female)

In [ ]:
# Group the data by gender and calculate the means of each feature
data_means = data.groupby('Gender').mean()

# View the values
data_means

In [ ]:
# Group the data by gender and calculate the variance of each feature
data_variance = data.groupby('Gender').var()

# View the values
data_variance

In [ ]:
# Means for male
male_height_mean = data_means['Height'][data_variance.index == 'male'].values[0]
male_weight_mean = data_means['Weight'][data_variance.index == 'male'].values[0]
male_footsize_mean = data_means['Foot_Size'][data_variance.index == 'male'].values[0]

# Variance for male
male_height_variance = data_variance['Height'][data_variance.index == 'male'].values[0]
male_weight_variance = data_variance['Weight'][data_variance.index == 'male'].values[0]
male_footsize_variance = data_variance['Foot_Size'][data_variance.index == 'male'].values[0]

# Means for female
female_height_mean = data_means['Height'][data_variance.index == 'female'].values[0]
female_weight_mean = data_means['Weight'][data_variance.index == 'female'].values[0]
female_footsize_mean = data_means['Foot_Size'][data_variance.index == 'female'].values[0]

# Variance for female
female_height_variance = data_variance['Height'][data_variance.index == 'female'].values[0]
female_weight_variance = data_variance['Weight'][data_variance.index == 'female'].values[0]
female_footsize_variance = data_variance['Foot_Size'][data_variance.index == 'female'].values[0]

In [ ]:
# Create a function that calculates p(x | y):
def p_x_given_y(x, mean_y, variance_y):

    # Input the arguments into a probability density function
    p = 1/(np.sqrt(2*np.pi*variance_y)) * np.exp((-(x-mean_y)**2)/(2*variance_y))
    
    # return p
    return p

In [ ]:
# Numerator of the posterior if the unclassified observation is a male
P_male * \
p_x_given_y(person['Height'][0], male_height_mean, male_height_variance) * \
p_x_given_y(person['Weight'][0], male_weight_mean, male_weight_variance) * \
p_x_given_y(person['Foot_Size'][0], male_footsize_mean, male_footsize_variance)

In [ ]:
# Numerator of the posterior if the unclassified observation is a female
P_female * \
p_x_given_y(person['Height'][0], female_height_mean, female_height_variance) * \
p_x_given_y(person['Weight'][0], female_weight_mean, female_weight_variance) * \
p_x_given_y(person['Foot_Size'][0], female_footsize_mean, female_footsize_variance)

# Weather (Categorical data)

In [ ]:
data = pd.DataFrame()
data['Weather'] = ['Sunny','Overcast','Rainy','Sunny','Sunny','Overcast','Rainy','Rainy','Sunny','Rainy','Sunny','Overcast','Overcast','Rainy']
data['Play'] = ['No','Yes','Yes','Yes','Yes','Yes','No','No','Yes','Yes','No','Yes','Yes','No']
data

In [ ]:
gp_1 = data.groupby(['Weather']).size()
print(gp_1)

# Calculating likelihoods
lhOvercast = gp_1[0]/gp_1.sum()
print("Overcast: {:.2f}".format(lhOvercast))

lhRainy = gp_1[1]/gp_1.sum()
print("Rainy: {:.2f}".format(lhRainy))

lhSunny = gp_1[2]/gp_1.sum()
print("Sunny: {:.2f}".format(lhSunny))

In [ ]:
gp_2 = data.groupby(['Play']).size()
print(gp_2)

# Calculating likelihoods
lhYes = gp_2[1]/gp_2.sum()
print("Yes: {:.2f}".format(lhYes))

lhNo = gp_2[0]/gp_2.sum()
print("No: {:.2f}".format(lhNo))

In [ ]:
gp_3 = data.groupby(['Weather','Play']).size()
gp_3

### P(Yes | Sunny)

In [ ]:
# P_Yes_given_Sunny = (P_Sunny_given_Yes * P_Yes)/P(Sunny)
mask = ['Yes' in gp_3.index[x] for x in range(gp_3.shape[0])]
print(mask)
P_Sunny_given_Yes = gp_3['Sunny']['Yes']/(sum(gp_3[mask].to_list()))
P_Sunny = lhSunny
P_Yes = lhYes

print(P_Sunny_given_Yes,P_Sunny,P_Yes)

In [ ]:
P_Yes_given_Sunny = (P_Sunny_given_Yes * P_Yes)/P_Sunny
P_Yes_given_Sunny

### P(Yes | Rainy)

In [ ]:
# P_Yes_given_Sunny = (P_Sunny_given_Yes * P_Yes)/P(Sunny)
mask = ['Yes' in gp_3.index[x] for x in range(gp_3.shape[0])]
print(mask)
P_Rainy_given_Yes = gp_3['Rainy']['Yes']/(sum(gp_3[mask].to_list()))
P_Rainy = lhRainy
P_Yes = lhYes

print(P_Rainy_given_Yes,P_Rainy,P_Yes)

In [ ]:
P_Yes_given_Rainy = (P_Rainy_given_Yes * P_Yes)/P_Rainy
P_Yes_given_Rainy

### P(Yes | Overcast)

In [ ]:
# P_Yes_given_Sunny = (P_Sunny_given_Yes * P_Yes)/P(Sunny)
mask = ['Yes' in gp_3.index[x] for x in range(gp_3.shape[0])]
print(mask)
P_Overcast_given_Yes = gp_3['Overcast']['Yes']/(sum(gp_3[mask].to_list()))
P_Overcast = lhOvercast
P_Yes = lhYes

print(P_Overcast_given_Yes,P_Overcast,P_Yes)

In [ ]:
P_Yes_given_Overcast = (P_Overcast_given_Yes * P_Yes)/P_Overcast
P_Yes_given_Overcast

# K clustering

#### 2 cluster problem

In [337]:
x = [7,2,3,8,7,4,6,7,6,3]
y = [6,6,8,5,4,7,2,3,4,4]
data_dict = {'x':x,'y':y}

data_df = pd.DataFrame(data_dict)

n_clusters = 2 
centroids = data_df.sample(n_clusters, random_state = 24)
centroids = list(map(list, zip(*[list(x.values()) for x in centroids.to_dict().values()])))
bak_centroids = centroids

x_y = [(x,y) for x,y in zip(x,y)]
data_df['x_y'] = x_y
data_df['cluster'] = -1
print("Centroid : {}\n".format(centroids))
print("Data : \n{}\n".format(data_df))

Centroid : [[3, 4], [7, 4]]

Data :
   x  y     x_y  cluster
0  7  6  (7, 6)       -1
1  2  6  (2, 6)       -1
2  3  8  (3, 8)       -1
3  8  5  (8, 5)       -1
4  7  4  (7, 4)       -1
5  4  7  (4, 7)       -1
6  6  2  (6, 2)       -1
7  7  3  (7, 3)       -1
8  6  4  (6, 4)       -1
9  3  4  (3, 4)       -1

In [338]:
def dist_manh(row, n = 2):
    dist = []
    for i in range(n):    
        tmp = abs(centroids[i][0]-row[0])+abs(centroids[i][1]-row[1])
        dist.append(tmp)
    return dist
def dist_eucl(row, n = 2):
    dist = []
    for i in range(n):
        tmp = ((centroids[i][0]-row[0])**2+(centroids[i][1]-row[1])**2)**(0.5)
        dist.append(tmp)
    return dist
def iter_once_k(centroids,_in='mean'):
    print(centroids)
    if(_in == 'mean'):
        cent_dist = [[c1,c2] for (c1,c2) in data_df.loc[:,'x_y'].apply(dist_eucl)]
    elif(_in=='median'):
        cent_dist = [[c1,c2] for (c1,c2) in data_df.loc[:,'x_y'].apply(dist_manh)]
    
    data_df['dist_cent_0'] = [x[0] for x in cent_dist]
    data_df['dist_cent_1'] = [x[1] for x in cent_dist]
        
    data_df.loc[data_df['dist_cent_0'] < data_df['dist_cent_1'],'cluster'] = 0
    data_df.loc[data_df['dist_cent_0'] > data_df['dist_cent_1'],'cluster'] = 1
    
    if(_in == 'mean'):
        centroids[0] = data_df[data_df['cluster'] == 0][['x','y']].mean().to_list()
        centroids[1] = data_df[data_df['cluster'] == 1][['x','y']].mean().to_list()
    elif(_in=='median'):
        centroids[0] = data_df[data_df['cluster'] == 0][['x','y']].median().to_list()
        centroids[1] = data_df[data_df['cluster'] == 1][['x','y']].median().to_list()
    print(centroids,'\n', data_df)
    return centroids

In [339]:
centroids = bak_centroids

In [343]:
centroids = iter_once_k(centroids, 'mean')

[[3.0, 6.25], [6.833333333333333, 4.0]]
[[3.0, 6.25], [6.833333333333333, 4.0]]
    x  y     x_y  cluster  dist_cent_0  dist_cent_1
0  7  6  (7, 6)        1     4.007805     2.006932
1  2  6  (2, 6)        0     1.030776     5.230785
2  3  8  (3, 8)        0     1.750000     5.540257
3  8  5  (8, 5)        1     5.153882     1.536591
4  7  4  (7, 4)        1     4.589390     0.166667
5  4  7  (4, 7)        0     1.250000     4.126473
6  6  2  (6, 2)        1     5.202163     2.166667
7  7  3  (7, 3)        1     5.153882     1.013794
8  6  4  (6, 4)        1     3.750000     0.833333
9  3  4  (3, 4)        0     2.250000     3.833333

#### 3 cluster

In [358]:
x = [7,2,3,8,7,4,6,7,6,3]
y = [6,6,8,5,4,7,2,3,4,4]
data_dict = {'x':x,'y':y}

data_df = pd.DataFrame(data_dict)

n_clusters = 3
centroids = data_df.sample(n_clusters, random_state = 24)
centroids = list(map(list, zip(*[list(x.values()) for x in centroids.to_dict().values()])))
bak_centroids = centroids

x_y = [(x,y) for x,y in zip(x,y)]
data_df['x_y'] = x_y
data_df['cluster'] = -1
print("Centroid : {}\n".format(centroids))
print("Data : \n{}\n".format(data_df))

Centroid : [[3, 4], [7, 4], [6, 4]]

Data :
   x  y     x_y  cluster
0  7  6  (7, 6)       -1
1  2  6  (2, 6)       -1
2  3  8  (3, 8)       -1
3  8  5  (8, 5)       -1
4  7  4  (7, 4)       -1
5  4  7  (4, 7)       -1
6  6  2  (6, 2)       -1
7  7  3  (7, 3)       -1
8  6  4  (6, 4)       -1
9  3  4  (3, 4)       -1

In [359]:
def dist_manh(row, n = 3):
    dist = []
    for i in range(n):    
        tmp = abs(centroids[i][0]-row[0])+abs(centroids[i][1]-row[1])
        dist.append(tmp)
    return dist
def dist_eucl(row, n = 3):
    dist = []
    for i in range(n):
        tmp = ((centroids[i][0]-row[0])**2+(centroids[i][1]-row[1])**2)**(0.5)
        dist.append(tmp)
    return dist
def iter_once_k(centroids,_in='mean', n=3):
    print(centroids)
    if(_in == 'mean'):
        cent_dist = [[c1,c2,c3] for (c1,c2,c3) in data_df.loc[:,'x_y'].apply(dist_eucl)]
    elif(_in=='median'):
        cent_dist = [[c1,c2,c3] for (c1,c2,c3) in data_df.loc[:,'x_y'].apply(dist_manh)]
    
    data_df['dist_cent_0'] = [x[0] for x in cent_dist]
    data_df['dist_cent_1'] = [x[1] for x in cent_dist]
    data_df['dist_cent_2'] = [x[2] for x in cent_dist]
    data_df.loc[data_df.query('dist_cent_0 < dist_cent_1 & dist_cent_0 < dist_cent_2').index,'cluster'] = 0
    data_df.loc[data_df.query('dist_cent_1 < dist_cent_0 & dist_cent_1 < dist_cent_2').index,'cluster'] = 1
    data_df.loc[data_df.query('dist_cent_2 < dist_cent_0 & dist_cent_2 < dist_cent_1').index,'cluster'] = 2
    for i in range(n):
        if(_in == 'mean'):
            centroids[i] = data_df[data_df['cluster'] == i][['x','y']].mean().to_list()
        elif(_in=='median'):
            centroids[i] = data_df[data_df['cluster'] == i][['x','y']].median().to_list()
    print(centroids,'\n', data_df)
    return centroids

In [360]:
centroids = bak_centroids

In [364]:
centroids = iter_once_k(centroids, 'mean')

[[3.0, 6.25], [7.333333333333333, 5.0], [6.333333333333333, 3.0]]
[[3.0, 6.25], [7.333333333333333, 5.0], [6.333333333333333, 3.0]]
    x  y     x_y  cluster  dist_cent_0  dist_cent_1  dist_cent_2
0  7  6  (7, 6)        1     4.007805     1.054093     3.073181
1  2  6  (2, 6)        0     1.030776     5.426274     5.270463
2  3  8  (3, 8)        0     1.750000     5.270463     6.009252
3  8  5  (8, 5)        1     5.153882     0.666667     2.603417
4  7  4  (7, 4)        1     4.589390     1.054093     1.201850
5  4  7  (4, 7)        0     1.250000     3.887301     4.630815
6  6  2  (6, 2)        2     5.202163     3.282953     1.054093
7  7  3  (7, 3)        2     5.153882     2.027588     0.666667
8  6  4  (6, 4)        2     3.750000     1.666667     1.054093
9  3  4  (3, 4)        0     2.250000     4.447221     3.480102

# Birch CF

In [408]:
elements = [[3,5],[2,3],[4,3],[1,5]]

# CF = <n, LS, SS>
n = len(elements)
LS = [np.sum([x[0] for x in elements]), np.sum([x[1] for x in elements])]
SS = [np.sum([x[0]**2 for x in elements]), np.sum([x[1]**2 for x in elements])]

print('<n={}, LS={}, SS={}>'.format(n,LS,SS))

<n=4, LS=[10, 16], SS=[30, 68]>

In [447]:
# Centroid 
x_0 = list(np.array(LS)/n)

# Radius 
R = ((np.array([np.abs(np.array(x)-np.array(x_0))**2 for x in elements]).sum())/(n))**0.5

# Diameter 
D = ((np.array([[np.abs(np.array(x)-np.array(y))**2 for y in elements] for x in elements]).sum())/(n*(n-1)))**0.5

print('Centroid={}, Radius={}, Diameter={:2f}'.format(x_0,R,D))

Centroid=[2.5, 4.0], Radius=1.5, Diameter=2.449490

In [453]:
R = ((n*np.array(SS)-2*np.array(LS)**2+n*np.array(LS))/(n**2))**0.5
R

<ipython-input-453-589ac954b048>:1: RuntimeWarning: invalid value encountered in sqrt
  R = ((n*np.array(SS)-2*np.array(LS)**2+n*np.array(LS))/(n**2))**0.5

array([nan, nan])

In [454]:
D = ((2*n*np.array(SS)-2*np.array(LS)**2)/(n*n-1))**0.5
D

array([1.63299316, 1.46059349])

# Linear Mean Squared

In [467]:
x = np.array([72,50,81,74,94,86,59,83,65,33,88,81])
y = np.array([84,63,77,78,90,75,49,79,77,52,74,90])

x_2 = x**2
y_2 = y**2

xy = x * y

data_dict = {'x':x,'y':y,'x_2':x_2,'y_2':y_2,'xy':xy}
data_df = pd.DataFrame(data_dict)
data_df

     x   y   x_2   y_2    xy
0   72  84  5184  7056  6048
1   50  63  2500  3969  3150
2   81  77  6561  5929  6237
3   74  78  5476  6084  5772
4   94  90  8836  8100  8460
5   86  75  7396  5625  6450
6   59  49  3481  2401  2891
7   83  79  6889  6241  6557
8   65  77  4225  5929  5005
9   33  52  1089  2704  1716
10  88  74  7744  5476  6512
11  81  90  6561  8100  7290

In [468]:
sigma_x = x.sum()
sigma_y = y.sum()
sigma_xy = xy.sum()
sigma_x_2 = x_2.sum()
n = len(x)

print("Sigma values of - \nx: {}\ny: {}\nxy: {}\nx^2: {}\nn: {}".format(sigma_x,sigma_y,sigma_xy,sigma_x_2,n))

Sigma values of -
x: 866
y: 888
xy: 66088
x^2: 65942
n: 12

In [469]:
m = (n*sigma_xy - sigma_x * sigma_y)/(n*sigma_x_2 - sigma_x**2)
m

0.5816000773918932

In [470]:
b = (sigma_y - m * sigma_x)/n
b

32.027861081551706

In [471]:
y_0 = 86
y = m * y_0 + b
y

82.04546773725453