In [1]:
import pandas as pd 
import numpy as np
from plotly import express as px
import re

In [2]:
import nltk 
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [167]:
NGrams = pd.read_csv("../NGrams/NGrams.csv", encoding='utf-8')

In [168]:
NGrams.head()

      token  freq  which
0       – a     6      2
1  – adults     2      2
2     – all     2      2
3     – and    25      2
4      – as     3      2

In [169]:
NGrams.loc[NGrams['which']==5,['token','freq']]

                             token  freq
61501        a couple of weeks ago     2
61502        a fair amount of time     2
61503           a few days later i     2
61504  a figment of my imagination     2
61505   a food processor pulse the     2
...                            ...   ...
62220          work for you do you     2
62221     writes off the world its     2
62222        yeah i figured it out     2
62223     you have a great weekend     2
62224           you the one that i     2

[724 rows x 2 columns]

In [170]:
NGrams.loc[NGrams['which']==5,['token','freq']].sort_values(by = ['freq'], ascending = False)

                                                 token  freq
61548                                at the end of the    10
61944                      at pates and fountain parks    10
61978                            for the first time in     8
61963                    classic at pates and fountain     8
61947                                at the end of the     7
...                                                ...   ...
61761  promotional purposes without further permission     2
61762           purposes without further permission or     2
61763                    quarter ending on mar against     2
61764                    question about whether or not     2
62224                               you the one that i     2

[724 rows x 2 columns]

In [191]:
string = "at the end of"

In [192]:
string = string.lower()

In [195]:
best_pred = pd.DataFrame()
n_words = len(word_tokenize(string))
n_words

4

In [196]:
if(n_words == 4):
    matching_pentagrams = NGrams.loc[NGrams['which']==5,['token','freq']][NGrams.loc[NGrams['which']==5,['token','freq']]['token'].str.startswith(string, na=False)]
    matching_pentagrams['prediction'] = matching_pentagrams['token'].str.extract(string+"\s([a-zA-Z]+)\s?", flags=re.IGNORECASE)
    matching_pentagrams.dropna(how = 'any', axis = 0, inplace = True)
    matching_pentagrams.sort_values(by = ['freq'],axis = 0, inplace = True, ascending=False)
    if(matching_pentagrams.empty==False):
        best_pred = pd.DataFrame(matching_pentagrams.iloc[0,1:3]).transpose()
    else:
        string_tokenized = word_tokenize(string)[-3:]
        string = " ".join(string_filtered)
        n_words = 3

In [160]:
matching_pentagrams = NGrams.loc[NGrams['which']==5,['token','freq']][NGrams.loc[NGrams['which']==5,['token','freq']]['token'].str.startswith(string, na=False)]

In [162]:
matching_pentagrams['prediction'] = matching_pentagrams['token'].str.extract(string+"\s([a-zA-Z]+)\s?", flags=re.IGNORECASE)

In [163]:
matching_pentagrams.dropna(how = 'any', axis = 0, inplace = True)

In [164]:
matching_pentagrams.sort_values(by = ['freq'],axis = 0, inplace = True, ascending=False)

In [181]:
if(matching_pentagrams.empty==False):
    best_pred = pd.DataFrame(matching_pentagrams.iloc[0,1:3]).transpose()

In [197]:
matching_pentagrams

                    token  freq prediction
61548   at the end of the    10        the
61947   at the end of the     7        the
61547  at the end of each     2       each
62155   at the end of the     2        the

In [198]:
best_pred

      freq prediction
61548   10        the

In [199]:
def predictWord(string):
    preds_ = ""
    pred = ""
    string = string.lower()
    best_pred = pd.DataFrame()
    n_words = len(word_tokenize(string))
    if(n_words > 4):
        string_tokenized = word_tokenize(string)[-4:]
        string = " ".join(string_filtered)
        n_words = 4
    if(n_words == 4):
        matching_pentagrams = NGrams.loc[NGrams['which']==5,['token','freq']][NGrams.loc[NGrams['which']==5,['token','freq']]['token'].str.startswith(string, na=False)]
        matching_pentagrams['prediction'] = matching_pentagrams['token'].str.extract(string+"\s([a-zA-Z]+)\s?", flags=re.IGNORECASE)
        matching_pentagrams.dropna(how = 'any', axis = 0, inplace = True)
        matching_pentagrams.sort_values(by = ['freq'],axis = 0, inplace = True, ascending=False)
        if(matching_pentagrams.empty==False):
            best_pred = pd.DataFrame(matching_pentagrams.iloc[0,1:3]).transpose()
        else:
            string_tokenized = word_tokenize(string)[-3:]
            string = " ".join(string_filtered)
            n_words = 3
    if(n_words == 3):
        matching_tetragrams = NGrams.loc[NGrams['which']==4,['token','freq']][NGrams.loc[NGrams['which']==4,['token','freq']]['token'].str.startswith(string, na=False)]
        matching_tetragrams['prediction'] = matching_tetragrams['token'].str.extract(string+"[a-zA-Z]*\s([a-zA-Z]+)\s?", flags=re.IGNORECASE)
        matching_tetragrams.dropna(how = 'any', axis = 0, inplace = True)
        matching_tetragrams.sort_values(by = ['freq'],axis = 0, inplace = True, ascending=False)
        if(matching_tetragrams.empty==False):
            best_pred = pd.DataFrame(matching_tetragrams.iloc[0,1:3]).transpose()
        else:
            string_tokenized = word_tokenize(string)[-2:]
            string = " ".join(string_filtered)
            n_words = 2
    if(n_words == 2):
        matching_trigrams = NGrams.loc[NGrams['which']==3,['token','freq']][NGrams.loc[NGrams['which']==3,['token','freq']]['token'].str.startswith(string, na=False)]
        matching_trigrams['prediction'] = matching_trigrams['token'].str.extract(string+"[a-zA-Z]*\s([a-zA-Z]+)\s?", flags=re.IGNORECASE)
        matching_trigrams.dropna(how = 'any', axis = 0, inplace = True)
        matching_trigrams.sort_values(by = ['freq'],axis = 0, inplace = True, ascending=False)
        if(matching_trigrams.empty==False):
            best_pred = pd.DataFrame(matching_trigrams.iloc[0,1:3]).transpose()
        else:
            string_tokenized = word_tokenize(string)[-1:]
            string = " ".join(string_filtered)
            n_words = 1
    if(n_words == 1):
        matching_bigrams = NGrams.loc[NGrams['which']==2,['token','freq']][NGrams.loc[NGrams['which']==2,['token','freq']]['token'].str.startswith(string, na=False)]
        matching_bigrams['prediction'] = matching_bigrams['token'].str.extract(string+"[a-zA-Z]*\s([a-zA-Z]+)\s?", flags=re.IGNORECASE)
        matching_bigrams.dropna(how = 'any', axis = 0, inplace = True)
        matching_bigrams.sort_values(by = ['freq'],axis = 0, inplace = True, ascending=False)
        if(matching_bigrams.empty==False):
            best_pred = pd.DataFrame(matching_bigrams.iloc[0,1:3]).transpose()
    if(best_pred.empty==False):
        return(best_pred.iloc[0,1])
    return("N/A")

In [204]:
predictWord(string)

'N/A'

In [203]:
string = "my name is"

In [50]:
matching_pentagrams = NGrams.loc[NGrams['which']==5,['token','freq']][NGrams.loc[NGrams['which']==5,['token','freq']]['token'].str.contains(string, flags = re.IGNORECASE)]
matching_pentagrams['prediction'] = matching_pentagrams['token'].str.extract(string+"[a-zA-Z]*\s([a-zA-Z]+)\s?", flags=re.IGNORECASE)
matching_pentagrams.dropna(how = 'any', axis = 0, inplace = True)
matching_pentagrams.sort_values(by = ['freq'],axis = 0, inplace = True, ascending=False)

In [51]:
matching_pentagrams.head()

                                            token  freq prediction
61515     achieving greater speedaccuracy and air     2    greater
61589  focused on achieving greater speedaccuracy     2    greater
61684             is focused on achieving greater     2    greater
61737      on achieving greater speedaccuracy and     2    greater

In [52]:
best_pred = pd.DataFrame(matching_pentagrams.iloc[0,1:3]).transpose()

In [57]:
best_pred.empty

False

In [88]:
string = "at the End of"

In [89]:
string = string.lower()

In [90]:
matching_pentagrams = NGrams.loc[NGrams['which']==5,['token','freq']][NGrams.loc[NGrams['which']==5,['token','freq']]['token'].str.startswith(string, na=False)]

In [91]:
matching_pentagrams['prediction'] = matching_pentagrams['token'].str.extract(string+"\s([a-zA-Z]+)\s?", flags=re.IGNORECASE)

In [92]:
matching_pentagrams.dropna(how = 'any', axis = 0, inplace = True)

In [93]:
matching_pentagrams.sort_values(by = ['freq'],axis = 0, inplace = True, ascending=False)

In [94]:
best_pred = pd.DataFrame(matching_pentagrams.iloc[0,1:3]).transpose()

In [95]:
best_pred

      freq prediction
61548   10        the