In [4]:
import pandas as pd 
import numpy as np
from plotly import express as px
import re

In [3]:
import nltk 
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [5]:
nltk.download('stopwords')
nltk.download('punkt')
stop_words = list(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Aquaregis32\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Aquaregis32\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [6]:
stop_words.append('.')
stop_words = set(stop_words)

In [18]:
df_bigram = pd.read_csv("../NGrams/top_bigrams.csv", encoding='utf-8')
df_trigram = pd.read_csv("../NGrams/top_trigrams.csv", encoding='utf-8')
df_tetragram = pd.read_csv("../NGrams/top_tetragrams.csv", encoding='utf-8')

In [19]:
df_bigram.sort_values(by='freq', ascending=False).head()

          token  freq
2977   new york    40
5154  years ago    39
2313  last week    37
2316  last year    36
3670  right now    35

In [20]:
df_trigram.sort_values(by='freq', ascending=False).head()

                           token  freq
168   invitation paintball party    11
274         please please please     8
385              will take place     6
95   evolution mitsubishi forums     6
104             first time since     5

In [21]:
df_tetragram.sort_values(by='freq', ascending=False).head()

                          token  freq
39  please please please please     6
32          need tail need tail     4
47       rs lacs quarter ending     4
23      lacs quarter ending mar     4
61           will take place pm     3

In [89]:
string = "thing"

In [24]:
string_tokenized = word_tokenize(string)  
string_filtered = [x for x in string_tokenized if not x in stop_words]
string = " ".join(string_filtered)

In [25]:
string

'Hello name anandu R'

In [162]:
def predictWord(string):
    preds_ = ""
    pred = ""
    string_tokenized = word_tokenize(string)  
    string_filtered = [x for x in string_tokenized if not x in stop_words]
    string = " ".join(string_filtered)
    best_pred = ""
    n_words = len(string_filtered)
    if(n_words == 3):
        matching_tetragrams = df_tetragram[df_tetragram['token'].str.contains(string, flags = re.IGNORECASE)]
        matching_tetragrams['prediction'] = matching_tetragrams['token'].str.extract(string+"[a-zA-Z]*\s([a-zA-Z]+)\s?", flags=re.IGNORECASE)
        matching_tetragrams.dropna(how = 'any', axis = 0, inplace = True)
        matching_tetragrams.sort_values(by = ['freq'],axis = 0, inplace = True, ascending=False)
        best_pred = pd.DataFrame(matching_tetragrams.iloc[0,1:3]).transpose()
    if(n_words == 2 or best_pred.empty):
        
        matching_trigrams = df_trigram[df_trigram['token'].str.contains(string, flags = re.IGNORECASE)]
        matching_trigrams['prediction'] = matching_trigrams['token'].str.extract(string+"[a-zA-Z]*\s([a-zA-Z]+)\s?", flags=re.IGNORECASE)
        matching_trigrams.dropna(how = 'any', axis = 0, inplace = True)
        matching_trigrams.sort_values(by = ['freq'],axis = 0, inplace = True, ascending=False)
        pred = pd.DataFrame(matching_trigrams.iloc[0,1:3]).transpose()
        if(n_words == 2):
            best_pred = pred
        else:
            if(pred.iloc[0,1]>best_pred.iloc[0,1]):
                best_pred = pred
    if(n_words == 1 or best_pred.empty):
        
        matching_bigrams = df_bigram[df_bigram['token'].str.contains(string, flags = re.IGNORECASE)]
        matching_bigrams['prediction'] = matching_bigrams['token'].str.extract(string+"[a-zA-Z]*\s([a-zA-Z]+)\s?", flags=re.IGNORECASE)
        matching_bigrams.dropna(how = 'any', axis = 0, inplace = True)
        matching_bigrams.sort_values(by = ['freq'],axis = 0, inplace = True, ascending=False)
        pred = pd.DataFrame(matching_bigrams.iloc[0,1:3]).transpose()
        if(n_words == 1):
            best_pred = pred
        else:
            if(pred.iloc[0,1]>best_pred.iloc[0,1]):
                best_pred = pred
    pred_word = best_pred.iloc[0,1]
    return(pred_word)

In [163]:
predictWord("thing")

<ipython-input-162-1d361c4da335>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matching_bigrams['prediction'] = matching_bigrams['token'].str.extract(string+"[a-zA-Z]*\s([a-zA-Z]+)\s?", flags=re.IGNORECASE)
<ipython-input-162-1d361c4da335>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matching_bigrams.dropna(how = 'any', axis = 0, inplace = True)
<ipython-input-162-1d361c4da335>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matching_bigrams.sort_values(by = ['freq'],axis = 0, inplace = True, ascending=False)

'like'

In [39]:
string = "my name is khan"

In [41]:
string

'name is khan'